<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyou100.dao.MerchandiseMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyou100.pojo.Merchandise" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="limit" property="limit" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, price, limit, state, uid, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from merchandise
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryListState" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from merchandise
    where state = #{state}
  </select>

  <select id="selectByPrimaryListType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from merchandise
    where type = #{type}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from merchandise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhiyou100.pojo.Merchandise" >
    insert into merchandise (id, price, limit, 
      state, uid, type)
    values (#{id,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{limit,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhiyou100.pojo.Merchandise" >
    insert into merchandise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="limit != null" >
        limit,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="limit != null" >
        #{limit,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyou100.pojo.Merchandise" >
    update merchandise
    <set >
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="limit != null" >
        limit = #{limit,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyou100.pojo.Merchandise" >
    update merchandise
    set price = #{price,jdbcType=DOUBLE},
      limit = #{limit,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>